{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
<div class="product-detail">
    <div class="w3-sidebar w3-large" style="width:400px;">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" style="width:100%">
    </div>
        <div class="w3-main" style="margin-left:420px">
    <h1>
        <b>
            {{ product.name }}
        </b>
    </h1>
    <h2>
        <a href="{{ product.category.get_absolute_url }}" style="text-decoration: none;">
            <h3>
            <font color="green">
            {{ product.category }}
            </font>
            </h3>
        </a>
    </h2>
    <p class="price">
        ${{ product.price }}
    </p>
    <form action="{% url "cart:cart_add" product.id %}" method="post">
        {% csrf_token %}
        {{ cart_product_form }}
        <button class="w3-button w3-blue" input type="submit">
            ADD TO CART
        </button>
    </form>
<h3>
    <u>
    Description
    </u>
</h3>
{{ product.description|linebreaks }}
</div>
</div>
{% endblock %}
